<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    h2 Build№ #{build.id}

    span Date: #{new Date(parseInt(build.startDate))} — #{new Date(parseInt(build.endDate))}
    br
    span Status: #{build.status}
    br
    span
      | Output:&nbsp;
      if build.stdout !== undefined
        = build.stdout
      else
        = build.stderr
